table, th, td{
    border: 1px solid blue;
    width: 1200px;
    font-family: sans-serif;
   
}
th{
    background-color: black;
    color: beige;
    text-align: center;
}

tr:nth-child(even){
    background-color: #bdb9b9;
}

tr:nth-child(odd){
    background-color: #d0d0d0;
}

.td:nth-child(2) {
    text-align: center;
}
  
.td:nth-child(1) {
    text-align: left;
}
.td:nth-child(3) {
    text-align: center;
}
.td:nth-child(5) {
    text-align: center;
}
  
.td:nth-child(7) {
    text-align: center;
}
.td:nth-child(8) {
    text-align: center;
}